* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 30px;
  background: #ec91fc;
}
.container {
  max-width: 600px;
  margin: auto;
  background: rgb(40, 145, 237);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
textarea {
  width: 100%;
  /* height: 200px; */
  padding: 10px;
  font-size: 16px;
  resize: none;
}
.stats {
  margin-top: 15px;
}
.stats div {
  margin-bottom: 8px;
}
.buttons {
  margin-top: 15px;
}
.buttons button {
  margin-right: 10px;
  padding: 8px 16px;
  border: none;
  background: #6e097c;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}
.buttons button:hover {
  background: #9315a4;
}
